/* fileActionComponent.css */
.fileItemActions {
    display: flex;
    position: relative;
    
  }
  
  .fileActionButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px; /* Adjust button padding as needed */
  }
  
  .fileImage {
    width: 20px; /* Adjust icon size */
    height: 20px; /* Adjust icon size */
  }
  /* Modal Styles */
/* fileActionComponent.css */

