.mainContainer {
  width: 80%;
  height: 100%;
  display: flex;
  margin: 50px auto 0;
  min-height: 300px;
  max-height: 1500px; /* Set a minimum height */
  flex-direction: column;
  margin-bottom: 100px;
}
.buttonGroup {
  margin-top: 30px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.buttonGroup > div {
  margin-right: 10px; /* Adjust margin between buttons */
}

/* Assuming these are in your CSS file */

/* Assuming these are in your CSS file */

.fileContainer {
  width: 80%;
  max-height: 300px; /* Set a maximum height */
  display: flex;
  margin: 20px auto 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  overflow-y: auto; /* Enable vertical scrolling */
  margin-bottom: 50px;
}

.fileHeading {
  margin-left: 130px;
}
