/* ChatList.css */

/* ... (previous styles) */

/* Style for contact item */
.messageItem {
  display: flex;
  align-items: center;
  padding:0 20px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);  
  margin: 10px;
  border-radius: 5px;
  width: 75%;
}
.copyButton {
  background-color: #f0f0f0; /* Light grey background */
  color: #000; /* Black text */
  border: 1px solid #d0d0d0; /* Light grey border */
  cursor: pointer;
  padding: 5px 10px;
  margin-left: 10px; /* Space from the name */
}

/* Style for contact image */
.messageImage {
  width: 50px; /* Adjust image size */
  height: 50px;
  border-radius: 50%; /* Make it circular */
  margin-right: 15px; /* Adjust margin as needed */
  padding: 5px;
}

/* Style for contact information */
.messageInfo {
  display: flex;
  flex: 1; /* Allow flex-grow for contact information */
  justify-content: space-between; /* Space between name and unread count */
  align-items: center; /* Align items in the center */
}
.messageName {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px; /* Adjust the width as needed */
}

/* Style for unread message count */
.unreadCount {
  background-color: #ff5733; /* Sample color for unread count */
  color: white;
  border-radius: 50%;
  padding: 5px;
  width: 20px;
  text-align: center;
  font-size: 12px;
}
/* Your existing styles */
.chatListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
